{% extends 'layout.html' %}
{% block content %}
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col" class="small" style="width:5%">번호</th>
        <th scope="col" class="small" style="width:70%">제목</th>
        <th scope="col" class="small">작성자</th>
        <th scope="col" class="small" style="width:1%">날짜</th>
      </tr>
      </thead>
      <tbody>
      {% for post in qs %}
        <tr>
          <td class="small">{{ post.id }}</td>
          <td class="small">
            <a href="{% url 'blog:post_detail' post.pk %}?category={{ category_title }}&page={{ qs.number }}">{{ post.title }}</a>
          </td>
          <td class="small">{{ post.profile.nickname }}</td>
          <td class="small">{{ post.short_date }}</td>
        </tr>
      {% endfor %}
      {% if category_title %}
        <tr>
          <td colspan="4">
            <div class="d-flex flex-row-reverse mt-5 mb-1">
              {% if user.is_authenticated %}
                <a href="{% url 'blog:post_new' %}?category={{ category_title }}">
                  <button class="btn btn-sm btn-primary">
                    글쓰기
                  </button>
                </a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
    <nav class="d-flex justify-content-center">
      <ul class="pagination pagination-sm">
        {% if qs.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?category={{ category_title }}&page={{ qs.previous_page_number }}">이전</a>
          </li>
        {% endif %}
        {% for page_number in prange %}
          <li class="page-item {% if qs.number == page_number %} active {% endif %} ">
            <a class="page-link" href="?category={{ category_title }}&page={{ page_number }}"
            >{{ page_number }}</a>
          </li>
        {% endfor %}
        {% if qs.has_next %}
          <li class="page-item">
            <a class="page-link" href="?category={{ category_title }}&page={{ qs.next_page_number }}">다음</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
