{% extends 'consulting/layout.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="jumbotron">
        <h1 class="display-4">브랜딩 의뢰 제안</h1>
        <p class="lead">브랜딩 제안에 대한 가이드라인입니다.</p>
        <hr class="my-4">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
          the
          release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
          publishing
          software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <form class="container col-sm-8" id="needs-validation" novalidate>
        <div class="mb-3">
          <h5>Customer info</h5>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label class="form-control-label" for="customer-name">* 이름</label>
            <input type="text" class="form-control" id="customer-name" placeholder="이름" required>
            <small id="customer-name-help" class="form-text text-muted">업체명이나 의뢰자분 성함</small>
            <div class="invalid-feedback">
              의뢰자 정보를 입력해주세요
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label class="form-control-label" for="customer-phone">* 연락처</label>
            <input type="text" class="form-control" id="customer-phone" placeholder="ex)000-0000-0000" required>
            <div class="invalid-feedback">
              연락처를 입력해주세요
            </div>
          </div>
          <div class="col-md-4 offset-md-1 mb-3">
            <label class="form-control-label" for="customer-email">* 이메일</label>
            <input type="text" class="form-control" id="customer-email" placeholder="name@example.com" required>
            <small id="customer-name-help" class="form-text text-muted">회신받으실 이메일 주소</small>
            <div class="invalid-feedback">
              이메일 정보를 입력해주세요
            </div>
          </div>
        </div>

        <div class="mb-3 mt-3">
          <h5>Project info</h5>
          <p>* 프로젝트개요</p>
        </div>
        <div class="row">
          <div class="col-md-8">
            <textarea class="form-control" rows="9" required></textarea>
            <div class="invalid-feedback">
              프로젝트 정보를 입력해주세요
            </div>
          </div>
        </div>
        <div class="mt-5 mb-3">
          <h5>* 분류</h5>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <fieldset class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" > 브랜딩
                <br>
                <input class="form-check-input" type="checkbox"> 편집디자인
                <br>
                <input class="form-check-input" type="checkbox"> 웹디자인
                <br>
                <input class="form-check-input" type="checkbox"> 패키징
                <div class="alert alert-warning mt-3" style="display:none" id="alertCheckbox">
                  원하시는 분류를 한가지 이상 체크해주세요
                </div>
              </div>
            </fieldset>
          </div>
        </div>


        <!-- 예정일자 -->
        <div class="row mt-5">
          <div class="col-sm-3">
            <label class="form-control-label" for="customer-date"> 착수예정일자</label>
            <input type="text" class="form-control" id="customer-date" placeholder="ex)2018년10월3일">
          </div>
          <div class="col-sm-3 offset-md-1">
            <label class="form-control-label" for="customer-date"> 원하는 납품일시</label>
            <input type="text" class="form-control" id="customer-date" placeholder="ex)2019년3월2일">
          </div>
        </div>

        <!-- 예산 -->
        <div class="row mt-5">
          <div class="col-sm-5">
            <label class="form-control-label" for="customer-price">예산</label>
            <input type="text" class="form-control" id="customer-price">
          </div>
        </div>

        <!-- 남기고싶은말-->
        <div class="row mt-5">
          <div class="col-sm-8">
            <label class="form-control-label" for="customer-memo">남기고싶은 말씀</label>
            <textarea class="form-control" id="customer-memo" rows="5"></textarea>
          </div>
        </div>

        <!-- submit -->
        <div class="row mt-5">
          <div class="col-sm-8">
            <input type="submit" value="제출하기" class="btn btn-primary btn-block" id="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
      (function () {
          'use strict';
          window.addEventListener('load', function () {

              let form = document.getElementById('needs-validation');
              form.addEventListener('submit', function (e) {
                  let request_category = document.querySelectorAll("[class=form-check-input");
                  let check_state = false;

                  for(let i=0; i<request_category.length; i++){
                      if(request_category[i].checked === true){
                          check_state = true
                      }
                  }
                  if(check_state === false){
                      document.getElementById('alertCheckbox').style.display="";
                      e.preventDefault();
                      e.stopPropagation();
                  }

                  if (form.checkValidity() === false) {
                          e.preventDefault();
                          e.stopPropagation();
                  }
                  form.classList.add('was-validated');
              }, false)
          }, false)
      })();
  </script>
{% endblock %}